@font-face {
  src: url("../fonts/Roboto-Italic400.ttf");
  font-family: RobotoItalic;
  font-weight: 400;
}
@font-face {
  src: url("../fonts/Roboto-Regular400.ttf");
  font-family: RobotoRegular;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Roboto-Medium500.ttf");
  font-family: RobotoMedium;
  font-weight: 500;
}

@font-face {
  src: url("../fonts/Roboto-SemiBold600.ttf");
  font-family: RobotoSemiBold;
  font-weight: 600;
}

@font-face {
  src: url("../fonts/Inter-SemiBold.otf");
  font-family: InterSemiBold;
  font-weight: 600;
}
